.login-form{
    width: 400px !important;
    padding: 30px 40px  !important;
}
.input-group-text{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.eye-wraper{
    position:relative
}
.eye-toggle{
    position: absolute;right: 10px;top:23%
}
.password {
    padding-right: 30px !important;
}