:root{
    --primary-color     : #123524;
    --secondary-color   : #85A947;
    --border-color      : #85A947;
    --light-color       : #EFE3C2;
    --white-color       : #fff;
    --dark-color        : #000;
}

.btn-primary{
    background-color: var(--primary-color) !important;
    border: none !important;
    color: var(--white-color) !important;
}

.btn-primary:hover{
    background-color: var(--secondary-color) !important;
    color: var(--dark-color) !important;
    border: none !important; 
}

.form-control:focus {
    border-color: var(--border-color) !important;
    box-shadow: none !important;
}