/* fonts : poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color     : #123524;
    --secondary-color   : #85A947;
    --light-color       : #EFE3C2;
    --dark-color        : #000;
    --danger-color      : #cd313e;
    --white-color       : #fff;
}


*:not(i) {
    font-family: "Poppins", serif !important;
}

ul{
    list-style: none;
}

a{
    text-decoration: none !important;
}

.fa{
    /* padding: 8px ; */
    border-radius: 4px ;
}

.btn-primary{
    background-color:var(--primary-color) !important;
    color: var(--white-color) !important;
    border:1px solid var(--primary-color) !important ;
}

.btn-primary:hover{
    background-color:var(--white-color) !important;       
    color: var(--primary-color) !important;
    border: 1px solid var(--primary-color) !important;    
    transition: background-color 0.4s ease, color 0.4s ease !important;
}

.btn-secondary{
    background-color:var(--secondary-color) !important;
    color: var(--dark-color) !important;
    border:1px solid var(--secondary-color) !important ;
}

.btn-secondary:hover{
    background-color:var(--white-color) !important;       
    color: var(--dark-color) !important;
    border: 1px solid var(--primary-color) !important;    
    transition: background-color 0.4s ease, color 0.4s ease !important;
}

.btn-danger{
    background-color: var(--danger-color);
    border: 1px solid var(--danger-color);
}
.btn-danger:hover{
    background-color:var(--white-color) !important;       
    color: var(--danger-color) !important;
    border: 1px solid var(--danger-color) !important;    
    transition: background-color 0.4s ease, color 0.4s ease !important;
}

.btn:focus , .btn:active{
    outline: none; 
    box-shadow: none ; /* Glowing effect */
}


.form-control:focus {
    border-color: var(--border-color) !important;
    box-shadow: none !important;
}

/* breadcrumb  [Start]*/
#breadcrumb-component{
    margin-left: -13px;
}

#breadcrumb-component .breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
    background-color: transparent;
  }
  
  #breadcrumb-component .breadcrumb-item a {
    color: var(--primary-color);   
  }
  
  #breadcrumb-component .breadcrumb-item a:not(:hover) {
      text-decoration: none;
  }
  
/* breadcrumb  [End]*/
  

/* Footer css [Start] */
.author{
    position: fixed; bottom: 20px; right: 20px;  padding: 10px; border-radius: 5px; z-index: 1000;font-size: 12px;
}
/* Footer css [End] */