/* fonts : poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color     : #123524;
    --secondary-color   : #85A947;
    --border-color      : #85A947;
    --light-color       : #EFE3C2;
    --white-color       : #fff;
    --dark-color        : #000;
}


*:not(i) {
    font-family: "Poppins", serif !important;
}

.btn-primary{
    background-color: var(--primary-color) !important;
    border: none !important;
    color: var(--white-color) !important;
}

.btn-primary:hover{
    background-color: var(--light-color) !important;
    color: var(--primary-color) !important;
    border: none !important; 
    transition: background-color 0.4s ease, color 0.4s ease !important;
}

.form-control:focus {
    border-color: var(--border-color) !important;
    box-shadow: none !important;
}

/* Footer css [Start] */
.author{
    position: fixed; bottom: 20px; right: 20px;  padding: 10px; border-radius: 5px; z-index: 1000;font-size: 12px;
}
/* Footer css [End] */